<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<title>courses</title>
</head>
<body class="container">
	<h1>Courses</h1>
	<h2>Spring Boot Security</h2>

	<form class="form-signin" method="get" action="/logout">
		<button class="btn btn-primary btn-block" type="submit">Logout</button>
	</form>
	</div>
</html>